.container-rating {
  width: 100%;
  // border: 1px solid #000;
  margin-bottom: 25px;
  display: flex;
}
.checked {
  color: orange;
}
.image-product {
  width: 50%;
  margin: 0 auto;
  // border: 1px solid #000;
}
